header {
  display: flex;
  background-color: #41c8db;
  align-items: center;
  height: 5vh;
}

.head_user-fio {
  text-decoration: none;
  color: #000;
}
.navigation {
  margin-left: auto;
}
.navigation a {
  color: #000;
  text-decoration: none;
}
.navigation_error-logo {
  size: 20px;
}
.navigation_change-user {
  margin-left: 2vw;
}
.navigation_logout {
}
.back {
  display: flex;
  background-color: #578b9b;
  height: 90vh;
}
.desk {
  padding: 1vw;
  row-gap: 1%;
  margin-left: 12vw;
  width: 75vw;
  background-color: #506e78;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desk_question-text {
  height: fit-content;
  background-color: #fff;
  padding: 0.5em;
}
.answers {
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: baseline; */
  gap: 1vw;
}

.answers button {
  background-color: bisque;
}
.desk_question-describe {
  height: fit-content;

  background-color: #fff;

  padding: 0.5em;
}

.test-navigation {
}
