/*ВОПРОС ОТВЕТЫ*/
/*Общие для всех_______________________________________________________________________________________________________tagcomm*/
body {
    font-family: Inter, serif;
    margin: 0;
}

header {
    padding: 0;
    display: flex;
    background-color: #41c8db;
    align-items: center;

    border: none;
    font-family: Inter, serif;
}


footer {
    text-align: center;
    height: 3vh;
    background-color: #41c8db;
}

.back {
    display: flex;
    background-color: #578b9b;
    height: 93vh;
}

.desk {
    padding: 1vw;
    row-gap: 1%;
    margin-left: 12vw;
    width: 75vw;
    background-color: #506e78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/*Страница авторизации_______________________________________________________________________________________________________tagauth*/

.head_user-fio {
    text-decoration: none;
    color: #000;
}

.navigation {
    margin-left: auto;
}

.navigation a {
    color: #000;
    text-decoration: none;
}

.navigation_error-logo {
    size: 20px;
}

.navigation_change-user {
    margin-left: 2vw;
}

.navigation_logout {
    margin-right: 2vw;

}

.index_header {
    display: flex;
    justify-content: space-around;
}

.workshop_name {
    font-size: xx-large;
}

.desk_authorization {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 634px;
    height: 266px;
    background-color: #D9D9D9;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;

}

.desk_authorization-login {
    width: 500px;
    height: 50px;
    background-color: #A69999;
    border-radius: 10px;
    border: none;
    font-size: x-large;
}

.desk_authorization-password {
    width: 500px;
    height: 50px;
    background-color: #A69999;
    border-radius: 10px;
    border: none;
    font-size: x-large;
}

::-webkit-input-placeholder {
    color: #FFFFFFD8;
}

::-moz-placeholder {
    color: #FFFFFFD8;
}

.desk_authorization_buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.desk_authorization_buttons-enter {
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: x-large;
}

.desk_authorization_buttons-registration {
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: x-large;
}

.desk_authorization_error-login_active {
    align-self: center;
    color: #FF0000A6;
}

.desk_authorization_error-login_not-active {
    align-self: center;
    color: #FF0000A6;
    visibility: hidden;
}

.desk_greetings-text {
    font-size: xx-large;
    color: #D9D9D9;
}


/*Страница теста_______________________________________________________________________________________________________tagtest*/

.test_desk {
    padding: 1vw;
    row-gap: 1%;
    margin-left: 12vw;
    width: 75vw;
    background-color: #506e78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.desk_question-text {
    height: fit-content;
    background-color: #fff;
    padding: 0.5em;
    min-height: 200px;
    max-width: 500px;
    border-radius: 5px;
}

.answers {
    align-self: center;
    max-width: 100%;
    min-height: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.answers button {
    background-color: bisque;
    border-radius: 5px;
    width: 33%;
    flex: 1 1 auto;
    margin: 0 2% 2%;

}

.answers_column-1 {
    display: flex;
    width: 100%;
}

.answers_column-2 {
    display: flex;
    width: 100%;
}

.desk_question-describe {
    border-radius: 5px;
    max-width: 500px;
    height: fit-content;
    background-color: #fff;
    /*min-height: 200px;*/
    padding: 0.5em;
}

.test-navigation {
    display: flex;
    min-width: 600px;
    justify-content: space-between;
    align-items: center;
}

.test-navigation_next-question {
    width: 176px;
    height: 23px;
    border-radius: 10px;
    border: none;
}

.test-navigation_previous-question {
    width: 176px;
    height: 23px;
    border-radius: 10px;
    border: none;
}

.test-navigation_timer {
    width: 155px;
    height: 32px;
    font-size: 32px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;
}

/*Страница пользователя_______________________________________________________________________________________________________tagbio*/

.bio_desk {
    padding: 1vw;
    row-gap: 1%;
    margin-left: 12vw;
    width: 75vw;
    background-color: #506e78;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bio_desk_info {
    display: flex;
    flex-direction: row;
    max-width: 360px;
    flex-wrap: wrap;
}

input[class*="value"] {
    color: #D9D9D9;
    width: 150px;
    height: fit-content;
    background-color: #506e78;
    text-align: start;
    font-family: Inter, serif;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[class*="value"]::placeholder {
    color: rgba(217, 217, 217, 0.55);
    font-family: Inter, serif;
}

span[class*="key"] {
    width: 150px;
    height: fit-content;
    background-color: #506e78;
    border-style: groove;
    color: #D9D9D9;
    margin: 0;
    padding-right: 10px;

    display: flex;
    justify-content: end;
    align-items: end;
    cursor: default;
}

.bio_desk_info_bio-edit {
    width: 155px;
    height: 45px;
    background-color: #D9D9D9;
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.bio_desk_info_bio-edit:hover {
    background-color: #41c8db;

}

/*Сохранение*/
.bio_desk_info_bio-save--active {
    width: 155px;
    height: 45px;
    background-color: #D9D9D9;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bio_desk_info_bio-save--nonactive {
    visibility: hidden;
}

.bio_desk_info_bio-save--active:hover {
    background-color: #41c8db;
}


